body {
  height: 100vh;
  animation: bgchange 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#000000;
  font-size: 70px;
}

@keyframes bgchange {
  0% {
    background-color: #1900ff;
  }

  20% {
    background-color: #09d302;
  }

  40% {
    background-color: #ff0000;
  }

  60% {
    background-color: #ffffff;
  }

  80% {
    background-color: #ffcf68;
  }

  100% {
    background-color: #ff9900;
  }
}
